.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  height: 100%;
  padding: 5% 10%;
}
.row:first-child {
  position: relative;
  background-color: inherit;
  filter: drop-shadow(0 0 1px #000);
}
.row:first-child:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  border: 20px solid transparent;
  border-bottom: none;
  border-top-color: #fafafa;
}

.button_row {
  text-align: center;
  padding: 0 10% 20px;
  box-sizing: border-box;
}
