.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}
.column:last-child {
  width: 45%;
}

.currency {
  margin-bottom: 0;
}

.note {
  opacity: 0.7;
}
